/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.nice {
    font-family: sans-serif;
    font-size: 30px;
}

.title {
        font-family: sans-serif;
    font-size: 30px;
    color: darkgrey;
}

.result {
        font-family: sans-serif;
    font-size: 30px;
    color: darkslategrey;
}

.brand-logo.show-on-medium-and-down {
    font-size: 16px;
}

.brand-logo {
    font-size: 18px;
}